# For incremental exercise solutions rollout
vaje_branje_pisanje_datotek_resitve.ipynb
vaje_napake_resitve.ipynb
vaje_nizi_dodatno_resitve.ipynb
vaje_oop_resitve.ipynb
vaje_pararelno_procesiranje_resitve.ipynb
vaje_rekurzija_resitve.ipynb