# For incremental exercise solutions rollout
vaja_drzavno_tekmovanje_2021_resitve.ipynb
vaja_predpraznicno_2021_resitve.ipynb
vaja_solsko_tekmovanje_2021_resitve.ipynb
vaja_solsko_tekmovanje_2022_resitve.ipynb